.header {
  border-bottom: 1px solid #EBEBEB;
  color: #85B0BC;
  background-size: 100px;
  padding-left: 10px;
  height: 50px;
  overflow: hidden;
}

.header h1 {
  font-family: 'Maven Pro', Helvetica, sans-serif;
  margin-top: 10px;
}

.header a, a:focus {
  color: #85B0BC;
}

@media screen and (min-width: 768px) {
  .header {
    height: 65px;
    padding-left: 30px;
  }
}

.content {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 30px;
  }
}
